<!doctype html>
<html lang="{% if page.lang == blank %}{{ site.metadata.lang }}{% else %}{{ page.lang }}{% endif %}">
  <head>
    {% render "head", site: site, metadata: site.metadata, title: page.title, page: page %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    {% render "header", site: site, page: page %}

    <section class="section section--purple">
      <div class="section__container">
        <div class="section__inner-container">
          <div class="section__single-header">
            {% capture top_title %}{% if page.title != blank %}{{ page.title | escape }}{% else %}{{ site.metadata.title | escape }}{% endif %}{% endcapture %}
            {% if page.title_image != blank %}
            <img
              class="hero__image"
              src="{% webpack_path page.title_image %}"
              alt="{{ top_title }}"
            />
            {% else %}
            <h1>
              {{ top_title }}
            </h1>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section__container">
        <div class="section__inner-container">
          <div class="section__single-content">
            <article class="section__content">
              <main>{{ content }}</main>
            </article>
          </div>
        </div>
      </div>
    </section>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
