---
// Component Imports
import MailingList from '../components/MailingList.astro';
let title = 'Euruko 2022';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f15a5b" />

    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:500,500i,700,700i,800,800i&amp;display=swap" rel="stylesheet">

    <link rel="canonical" href="{Astro.site}">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@euruko" />
    <meta name="twitter:creator" content="@euruko" />
    <meta property="twitter:title" content="Euruko '22" />
    <meta property="twitter:description" content="We're aiming to hold an in-person Euruko in Helsinki sometime in the last quarter of 2022. At this time we can't offer any more details about the event." />
    <meta property="twitter:image" content="{Astro.site}/assets/social.jpg" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="Euruko '22">
    <meta property="og:description" content="We're aiming to hold an in-person Euruko in Helsinki sometime in the last quarter of 2022. At this time we can't offer any more details about the event.">
    <meta property="og:image" content="{Astro.site}/assets/social.jpg">
    <meta property="og:url" content="{Astro.site}">
</head>
<body>
    <main>
        <header>
            <div>
                <img width="1280" height="300" src="/assets/euruko-glow.svg" alt="Euruko logo">
                <h1 class="neonText">2022Q3</h1>
            </div>
        </header>

        <MailingList />
    </main>
</body>
</html>
